<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budgetapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.budgetapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.budgetapp.InventoryActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name="com.example.budgetapp.BudgetActivity"
            android:label="@string/title_activity_budget" >
        </activity>
        <activity
            android:name="com.example.budgetapp.AddInventoryActivity"
            android:label="@string/title_activity_add" >
        </activity>
        <activity
            android:name="com.example.budgetapp.UpdateInventoryActivity"
            android:label="@string/title_activity_update" >
        </activity>
        <activity
            android:name="com.example.budgetapp.ShoppingListActivity"
            android:label="@string/title_activity_shopping_list" >
        </activity>
        <activity
            android:name="com.example.budgetapp.ViewBudgetActivity"
            android:label="@string/title_activity_view_budget" >
        </activity>
        <activity
            android:name="com.example.budgetapp.EditBudgetActivity"
            android:label="@string/title_activity_edit_budget" >
        </activity>
        <activity
            android:name="com.example.budgetapp.EditCategoriesActivity"
            android:label="@string/title_activity_edit_categories" >
        </activity>
        <activity
            android:name="com.example.budgetapp.ViewInventoryActivity"
            android:label="@string/title_activity_view_inventory" >
        </activity>
        <activity
            android:name="com.example.budgetapp.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
